<div class="layout">
    <!-- Sidebar -->
    <div class="col-1">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-2">
        <div class="topnav">
            <app-topbar [title]="'Flashcards - Subject'"></app-topbar>
        </div>

        <div class="content">
            <div style="padding-left:16px">
                <h2 class="title">Top Navigation Example</h2>
                <p class="subtitle-no-bold">Some content..</p>
            </div>
        </div>

        <div class="progressBarDiv">
            <div class="progress-loader">
                <div class="progress"></div>
            </div>
            <p class="title progressCounter">50%</p>
        </div>

        <!-- Flashcards section -->
        <div class="flashcardsDiv">



            <!-- Flashcard 3 (40% smaller) -->
            <div class="flip-card center smaller2">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <p class="title">Cara delantera 3</p>
                        <p>Texto</p>
                    </div>
                    <div class="flip-card-back">
                        <p class="title">Cara trasera 3</p>
                        <p>Texto</p>
                    </div>
                </div>
            </div>

            <!-- Flashcard 2 (20% smaller) -->
            <div class="flip-card center smaller">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <p class="title">Cara delantera 2</p>
                        <p>Texto</p>
                    </div>
                    <div class="flip-card-back">
                        <p class="title">Cara trasera 2</p>
                        <p>Texto</p>
                    </div>
                </div>
            </div>

            <!-- Flashcard 1. Se obtiene dinamicamente el estado de "Flipped" para determinar la rotacion de la tarjeta --> 
            <div class="flip-card center main" [class.flipped]="flipped">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <p class="title">Cara delantera 1</p>
                        <p>Texto</p>
                        <!-- Botones: Got it, Not Sure -->
                        <div class="button-container">
                            <button class="card-button">Got it!</button>
                            <button class="card-button" id="flipButton" (click)="toggleFlip()">Not sure? Flip</button>
                        </div>            
                    </div>
                    <div class="flip-card-back">
                        <p class="title">Cara trasera 1</p>
                        <p>Texto</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
    
</div>



