<div class="layout">
  <app-sidebar></app-sidebar>
  <div class="content col 5">
    <div class="container col-8">
      <div class="row underline-mark">
        <div class="col-md-2">
          <img ngSrc="assets/images/DuckTransparent%201.png" height="100" width="100" alt="">
        </div>
        <div class="col-md-10">
          <h1 class="row-1 title">Goodmorning buddy</h1>
          <h3 class="row-1 subtitle-no-bold">Let's discover the magic of studying harder</h3>
        </div>
      </div>
      <div>
        <h2>library of learning resources</h2>
        <button><img src="assets/images/Add.png"></button>
      </div>

    </div>
    <div class="container col-2">
      <h1>jdnksd</h1>
    </div>

  </div>
</div>
