<div class="layout">
    <!-- Sidebar -->
    <div class="col-1">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-2">
        <div class="topnav">
            <app-topbar [title]="'Flashcards - Subject'"></app-topbar>
        </div>

        <div class="content">

            <div style="padding-left:16px">
                <h2 class="title">Top Navigation Example</h2>
                <p class="subtitle-no-bold">Some content..</p>
            </div>

        </div>

        <div class="flashcardsDiv">
            <div class="flip-card center">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <p class="title">Cara delantera</p>
                        <p>Texto</p>
                    </div>
                    <div class="flip-card-back">
                        <p class="title">Cara trasera</p>
                        <p>Texto</p>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>